<div class='p-1'>
	<h2 class='text-light'><%= @post.title %></h2>

	<%= simple_format @post.body, class:'text-danger' %>

	<div class='row'>
		<div class='col-2 float-left text-danger'>
			Upvotes: <%= @post.upvotes %> 
		</div>
		<div class='col-2 float right text-danger'>
			Downvotes: <%= @post.downvotes %>
		</div>
	</div>

	<div class='col-sm-3 mt-4'>
		<%= link_to 'Back', community_posts_path, class: 'btn btn-secondary' %>
		<%= link_to 'Edit', edit_community_post_path(@post.community_id, @post.id), class: 'btn btn-danger' %>
	</div>
</div>