<div class='p-1'>
	<h2 class='text-light'><%= @post.title %></h2>

	<%= simple_format @post.body, class:'text-danger' %>

<% if current_account.communities.include?(@post.community) %>
	<div class='row'>
		<div class='col-2 float-left text-danger'>
			<%= link_to upvote_community_post_path(@post.community_id, @post.id), action: :update, method: :put, class: 'btn btn-success' do %>
				<span class="glyphicon glyphicon-chevron-up"></span>
				Upvote
			<% end %>
				<%= @post.get_upvotes.size %>
		</div>
		<div class='col-2 float right text-danger'>
			<%= link_to downvote_community_post_path(@post.community_id, @post.id), action: :update, method: :put, class: 'btn btn-danger' do %>
				<span class="glyphicon glyphicon-chevron-down"></span>
				Downvote
			<% end %>
				<%= @post.get_downvotes.size %>
		</div>
	</div>
<% end %>

<% if current_account.posts.include?(@post) %>
	<div class='col-sm-3 mt-4'>
		<%= link_to 'Back', community_posts_path(@post.community_id), class: 'btn btn-secondary' %>
		<%= link_to 'Edit', edit_community_post_path(@post.community_id, @post.id), class: 'btn btn-danger' %>
	</div>
<% else %>
	<div class='col-sm-3 mt-4'>
		<%= link_to 'Back', community_posts_path(@post.community_id), class: 'btn btn-secondary' %>
	</div>
<% end %>
</div>