<div class='p-1'>
	<h2 class='text-light'><%= @post.title %></h2>

	<%= simple_format @post.body, class:'text-danger' %>

	<% if current_account %>
		<% if current_account.communities.include?(@post.community) %>
			<div class='row'>
				<% if current_account.voted_up_on?(@post) %>
					<div class='col-2 float-left text-light mb-1 pt-1 vote-divs'>
						Upvotes: <%= @post.get_upvotes.size %>
					</div>
				<% else %>
					<div class='col-2 float-left text-danger mb-1 vote-divs'>
						<%= link_to upvote_community_post_path(@post.community_id, @post.id), action: :update, method: :put, class: 'btn btn-success' do %>
							<span class="glyphicon glyphicon-chevron-up">
								Upvote
							</span>
						<% end %>
					</div>
				<% end %>
				<% if current_account.voted_down_on?(@post) %>
					<div class='col-2 float-right text-light mb-1 pt-1 vote-divs'>
						Downvotes: <%= @post.get_downvotes.size %>
					</div>
				<% else %>
					<div class='col-2 float-right text-danger mb-1 vote-divs'>
						<%= link_to downvote_community_post_path(@post.community_id, @post.id), action: :update, method: :put, class: 'btn btn-danger' do %>
							<span class="glyphicon glyphicon-chevron-down">
								Downvote
							</span>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>

		<% if current_account.posts.include?(@post) %>
			<div class='col-sm-3 mt-4'>
				<%= link_to 'Back', communities_path, class: 'btn btn-secondary' %>
				<%= link_to 'Edit', edit_community_post_path(@post.community_id, @post.id), class: 'btn btn-danger' %>
			</div>
		<% else %>
			<div class='col-sm-3 mt-4'>
				<%= link_to 'Back', communities_path, class: 'btn btn-secondary' %>
			</div>
		<% end %>
	<% end %>
</div>