<div class='row p-1'>
	<div class='col-sm-6'>

		<%= form_for @community do |f| %>

			<div class='form-group text-danger'>
				<%= label_tag :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>

			<div class='form-group text-danger'>
				<%= label_tag :summary %>
				<%= f.text_field :summary, class: 'form-control' %>
			</div>

			<div class='form-group text-danger'>
				<%= label_tag :url %>
				<%= f.text_field :url, class: 'form-control' %>
			</div>

			<div class='form-group text-danger'>
				<%= label_tag :rules %>
				<%= f.text_area :rules, class: 'form-control' %>
			</div>

			<%= f.submit 'Submit', class:'btn btn-danger' %>

		<% end %>

	</div>
</div>
