<% unless @posts.nil? %>
	<p class='h4 text-light m-4 mt-1' id="trending-header">
		Trending: <%= Date.today.strftime('%B %e, %Y') %>
	</p>

	<div class='row text-danger mt-2 trending-topic'>
		<%= render partial: 'trending' %>
	</div>
<% else %>
	<p class='h4 text-light m-4 mt-1' id="trending-header">
		No Posts Yet
	</p>
<% end %>
<div class='row shadow-sm'>
	<h2 class='h4 text-light mobile-hide'>Recent Posts</h2>
	<div id='posts-div'>
		<div class='card p-3 bg-light'>
			<%= render partial: 'posts/list', locals: { posts: @posts } %>
		</div>
	</div>
	<div id='community-div'>
			<div class='card'>
				<% if !@communities.nil? %>
					<%= render partial: 'communities/list', locals: { communities: @communities } %>
				<% else %>
					<p>No Communities</p>
				<% end %>
			</div>
		<%= link_to 'View All Communities', communities_path, class: 'text-light btn btn-danger mt-4 shadow-sm' %>
	</div>
</div>