<div class='row'>
    <div class='col-sm-8 p-3 bg-light'>
        <%= render partial: 'posts/list', locals: { posts: @posts } %>
    </div>
    <div class='col-sm-4 p-3 bg-light'>
        <p class='h4'><%= @profile.full_name %></p>
        <p class='mt-2'><strong>Username:</strong> <%= @profile.username %></p>
        <p class='mt-2'><strong>Bio:</strong><%= simple_format @profile.bio %></p>

        <p> <strong>Joined on:</strong> <%= @profile.created_at.strftime('%B %e, %Y')%> </p>

        <% if !@profile.communities.nil? %>
            <p class='mt-2'><strong>Admin in these communities:</strong> <%= render partial: 'communities/list', locals: { communities: @communities } %></p>
        <% end %>
    </div>
</div>