<div class='container'>
	<div class='row'>
		<div class='col-12 content-divs'>
			<% if account_signed_in? %>
				<div class="dropdown float-end mt-1 shadow-sm">
					<a class="btn btn-danger dropdown-toggle p-2 m-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						<%= current_account.full_name %>
					</a>

					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<%= button_to 'Profile', profile_path(current_account.id), method: :get, class:'dropdown-item' %>
						<%= button_to 'Settings', edit_account_registration_path, method: :get, class:'dropdown-item' %>
						<%= button_to 'Log Out', destroy_account_session_path, method: :delete, class:'dropdown-item' %>
					</ul>
					</div>
			<% else %>
				<div class='float-end'>
					<%= link_to 'Log In', new_account_session_path, class:'text-dark btn btn-danger' %>
					<%= link_to 'Sign Up', new_account_registration_path, class:'text-dark btn btn-danger' %>
				</div>
			<% end %>
			<p class='mt-4'><%= link_to 'Reddit Clone', root_path, class: 'navbar-brand text-light text-decoration-none' %></p>
			<div class='desktop-hide'>
				<%= render partial: 'public/headers' %>
			</div>
		</div>
	</div>
</div>